body {
  padding-bottom: 40px;
}

.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

textarea {
  resize: vertical;
}

#instructions {
  text-align: justify;
}

#result {
  margin-top: 20px;
}
